body{
	font-family: Helvetica;
	font-size: 15px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#showcase{
	min-height: 400px;
	color: #282828;
}

#showcase h1{
	font-size: 88px;
	margin-bottom: 5px;
	line-height: 80px;
}

#showcase p1{
	color: #9D9D9D;
	margin-bottom: 35px;
	display: block;
	line-height: 20px;
	font-weight: bolder;
}

#showcase p2{
	color: #9D9D9D;
	display: block;
	line-height: 20px;
	max-width: 800px;
}

hr{
	height: 1px;
	border-top: 2px solid #ccc;
	margin: 1em 0;
	padding: 0;
	margin-top: 110px;
	margin-bottom: 70px;
	max-width: 900px;
}

#boxes{
	margin-top:20px;
}

#boxes .box{
	line-height: 20px;
	max-width: 800px;
	padding: 10px;
	margin-bottom: 80px;
}

#boxes .box h3{
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 30px;
}

#boxes .box p{
  	color: #9D9D9D;
}

#boxes .box img{
	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 250px;
	float:left;
	margin-right: 40px;
	margin-bottom: 30px;
}

#boxes .box h5{
	font-weight: 900;
	color: #9D9D9D;
}

#boxes .button{
	background-color: #282828;
	width: 70px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 45px;
	float: right;
	margin: 10px;
}

#boxes .button a{
	background-color: #282828;
	font-size: 20px;
	text-decoration: none;
	color: #FFFFFF;
}

#boxes .button a:hover{
	text-decoration: underline;
}

#boxes .google{
	padding: 5px;
	width: 120px;
	height: 35px;
	display: block;
	float: right;
	margin: 10px;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #9D9D9D;
	text-align: center;
}