body{
	font-family: Helvetica;
	font-size: 15px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	margin-bottom: 100px;
}

#showcase{
	min-height: 400px;
	color: #282828;
}

#showcase h1{
	font-size: 88px;
	margin-bottom: 5px;
	line-height: 80px;
}

#showcase p1{
	color: #9D9D9D;
	display: block;
	line-height: 20px;
	font-weight: bolder;
}

#showcase .small{
	display: table;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 520px;
}

#showcase .big{
	display: table;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 520px;
}

input{
	background-color: #282828;
	font-size: 15px;
	width: 60px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 30px;
	float: left;
	margin: 10px;
	text-decoration: none;
	color: #FFFFFF;
	outline: none;
	border: 0px;
}

.inc{
	margin-top: 0px;
	padding-top: 0px; 
	width: 130px;
}

.gen{
	width: 100px;
}

#showcase .big p{
	line-height: 10px;
	font-weight: bold;
}

#showcase .showcells{
	display: table;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#showcase .switch{
	position: relative;
	display: table;
	width: 60px;
	height: 34px;
	float: left;
}

#showcase .showcells .switch input{
	display: none;
}

#showcase .slider{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #282828;
	-webkit-transition: .4s;
	transition: .4s;
}

#showcase .showcells p{
	line-height: 10px;
	font-weight: bold;
	margin-left: 70px;
}


#showcase .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

input:hover{
	text-decoration: underline;
}

canvas{
	margin: auto;
	display: block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #9D9D9D;
	text-align: center;
}